{% extends "base.html" %}

{% block content %}
<title>Market Data</title>
<style>
    .table-container {
        margin: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    table.dataTable thead th {
        background-color: #f8f9fa;
        font-weight: bold;
    }

    .highlight {
        background-color: #ffeeba;
        transition: background-color 1s;
    }
</style>

<div class="table-container">
    <table id="marketTable" class="display">
        <thead>
            <tr>
                <th>종목</th>
                <th>현재가</th>
                <th>거래량</th>
                <th>거래대금</th>
            </tr>
        </thead>
        <tbody>
            {% for item in market_data %}
            <tr>
                <td>{{ item.market }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.volume }}</td>
                <td>{{ item.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    let dataTable;
    
    $(document).ready(function() {
        dataTable = $('#marketTable').DataTable({
            
            pageLength: 160,            // 페이지당 10개 표시
            order: [[3, 'desc']],      // 거래대금 기준 내림차순 정렬
            language: {
                search: "검색:",
                lengthMenu: "페이지당 _MENU_ 개",
                info: "_TOTAL_개 중 _START_ - _END_",
                paginate: {
                    first: "처음",
                    last: "마지막",
                    next: "다음",
                    previous: "이전"
                },
                zeroRecords: "검색 결과가 없습니다."
            }
        });

        console.log("Fetching new data...");

        

        setInterval(refreshData, 3000); // 300000ms = 5분
    });
    
    

    function refreshData() {
        $.ajax({
            url: "{% url 'upbit:get_market_data' %}",
            method: 'GET',
            success: function(data) {
                console.log("데이터 수신:", data);  // 데이터 확인
                
                if (dataTable) {
                    // 기존 데이터 삭제
                    dataTable.clear();
                    
                    // 새 데이터 추가
                    data.forEach(function(item) {
                        dataTable.row.add([
                            item.market,
                            item.price,
                            item.volume,
                            item.amount
                        ]);
                    });
                    
                    // 테이블 다시 그리기
                    dataTable.draw();
                }
            },
            error: function(err) {
                console.error("데이터 가져오기 실패:", err);
            }
        });
    }
</script>
{% endblock %}