<div class="table-container">
    <table id="dataTableTradeSwing" class="display">
        <thead>
            <tr>
                <th colspan="5">기본정보</th>
                <th colspan="7">가격</th>
                <th colspan="3">거래량</th>
                <th colspan="3">거래대금</th>
                <th colspan="2">RSI</th>

            </tr>
            <tr>
                <th>종목</th>
                <th>이름</th>
                <th>시총</th>
                <th>김프</th>
                <th>현재가</th>

                <th>1일</th>
                <th>3일</th>
                <th>7일</th>
                <th>28일</th>
                <th>고점</th>
                <th>저점</th>
                <th>범위</th>

                <th>1일</th>
                <th>3일</th>
                <th>7일</th>

                <th>1일</th>
                <th>3일</th>
                <th>7일</th>
                
                
                <th>240분</th>
                <th>1일</th>
                
            </tr>
        </thead>
    </table>
</div>