<div class="table-container">
    <table id="dataTableTradeInfo" class="display">
        <thead>
            <tr>
                <th colspan="11">기본정보</th>
                
            

            </tr>
            <tr>
                <th>종목</th>
                <th>이름</th>
                <th>시총</th>
                <th>발행률</th>
                <th>발행일</th>
                <th>상장일</th>
                <th>Chain</th>
                <th>Category</th>
                <th>Focus</th>
                <th>Country</th>
                <th>비고</th>


                
                
            </tr>
        </thead>
    </table>
</div>