
<div class="table-container">
    
    <table id="dataTableTradeToday" class="display">
        <thead>
            <tr>
                <th colspan="7">기본정보</th>
                <th colspan="6">가격(n분 전 대비 현재가격)</th>
                <th colspan="3">거래량(직전 60분 평균 대비 n분 변화량)</th>
                <th colspan="4">거래대금</th>
                <th colspan="3">RSI</th>

            </tr>
            <tr>
                <th>종목</th>
                <th>이름</th>
                <th>시총</th>
                <th>발행일</th>
                <th>상장일</th>
                <th>김프</th>
                <th>현재가</th>

                <th>5분</th>
                <th>30분</th>
                <th>60분</th>
                <th>고점</th>
                <th>저점</th>
                <th>범위</th>

                <th>1분</th>
                <th>5분</th>
                <th>10분</th>
                
                <th>1분</th>
                <th>5분</th>
                <th>60분</th>
                <th>오늘</th>
                
                <th>5분</th>
                <th>15분</th>
                <th>60분</th>
            </tr>
        </thead>
    </table>
</div>
