



/* base.html */
@font-face {
  font-family: BlackHanSans-Regular;
  src: url('./fonts/BlackHanSans-Regular.ttf');
}
* {
	font-family: BlackHanSans-Regular;
}
html{
	width:100%;
	height:100%;
}
body{
	width:100%;
	height:100%;
	overflow:auto;
	
}


.wrap-container{
	position: relative;
	width:100%;
	height:100%;
	
	}

.container{
	min-height:800px;
	margin: 0 auto;
	padding: 50px 0;
}
.contents{
	position: relative;
	float: left;
	width: 1200px;
	top: 0px;
	left: 0px;
	margin:0px;
	padding:5px;
	
}

.hidden{
	display:none;
}
/* main.html*/
.carousel-control-next{
	width:100%;
	height:100%;
}

/*team_info.html*/

.team-info{
	position: relative;
	top:100px;
	left: 100px;
}




/*game_info.html*/

#date_pick{
	border:none;
	width: 150px;
}

.date-select{
	position: relative;

	width: 100%;
	height: 40px;
	margin-top:50px;
}
.date-select ul li{
	position:relative;
	margin:5px;
	padding: 5px;
	list-style-type: none;
	}

.date-select ul{
	text-align:center;
	padding-left:0px;
	height: 60px;
}
.date-select li{
	display:inline-block;
}
.today {
	vertical-align:5px;
}

#update-time{
    position:relative;
    float: right;

}





.game-info{
    position:relative;
    float:top;
    width:180px;
    height:80px;
    }


.game-info-away{
    position:relative;
    float:left;
    }
.game-info-home{
    position:relative;
    float:right;
    }


.game-info-basic{
    margin-bottom:10px;

}
#game-info-vs {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: 700;
    color: #cfcfcf;
    position:relative;
    top:20px;
    margin:10px;
    }

.today-game-zone{
	position: relative;

	max-width: 1200px;
}


#today-game-wrap{
	position: relative;
    vertical-align: middle;
    overflow: hidden;
    margin-left:40px;
    margin-right:40px;
}

#today-game-wrap ul{

	text-align: center;
	padding-left:0px;
    white-space: nowrap;
    left: 20px;
}



#today-game-wrap li{

	display:inline-block;

}



#today-game-contents{
	position: relative;
	margin-top:100px;

}

#today-game-tab{
	position: relative;
}



.card{
	width:200px;
	height:200px;
	margin:10px;
}
.card-title{
	background-color:black;
	color:white;
}

.card-body{
	padding-right:0px;
	padding-left:0px;
}

.card-body>div{
	display:inline-block;
}
#today-game-button{
    height: 15px;
}

.dir-button{
    position: absolute;

    width:15px;
    height:15px;

}
#left-button{
    left:1050px;
    border: red;
}
#right-button{
    left:1080px;

}
/* team_game_info.html*/

.box-score-area{
	position: relative;
	width:1200px;
	margin:50px 50px 0px 0px;
}
.batter-record-area{
	position: relative;
	width:1200px;
	margin:50px 50px 0px 0px;
	
}
.pitcher-record-area{
	position: relative;
	width:1200px;
	margin:50px 50px 0px 0px;
}



/*preview.html*/

.compare-box{
    text-align: center;
}
.compare-graph{
    display:inline-block;

}
.graph-box{
    width:550px;
    height:1000px;
}

.run-graph{

	width:500px;
	height:300px;
}

#graph-box-away{
	float: left;
}

#graph-box-home{
	float: right;
}

/*lineup.html*/

.lineup-title{
    margin-bottom:10px;
}

.lineup-area{
    width: 500px;
    margin-top:50px;
}

#lineup-away{
    float:left;
    }

#lineup-home{
    float:right;
    }
.emb-name{
    font-size: 20px;
    vertical-align: middle;
    }

.tbl-lineup{
    text-align: center;
}