



/* base.html */
@font-face {
  font-family: BlackHanSans-Regular;
  src: url('./fonts/BlackHanSans-Regular.ttf');
}
@font-face {
  font-family: NotoSansKR-Bold;
  src: url('./fonts/NotoSansKR-Bold.otf');
}
@font-face {
  font-family: NotoSansKR-Black;
  src: url('./fonts/NotoSansKR-Black.otf');
}
* {
    font-family: NotoSansKR-Bold;
}
* h, th, b{
	font-family: NotoSansKR-Black;
}
.card span{
	font-family: NotoSansKR-Black;
}
.nav-item h{
	font-family: BlackHanSans-Regular;
}
html{
	width:100%;
	height:100%;

}
body{
	width:100%;
	height:100%;
	overflow:auto;
	
}


.wrap-container{
	position: relative;
	width:100%;
	height:100%;
	min-width:1300px;
	}

.container{
    width:1200px;
    max-width:1500px;
	min-height:800px;
	margin: 0 auto;
	padding: 50px 0;
}
.contents{
	position: relative;
	float: left;
	width: 1200px;
	top: 0px;
	left: 0px;
	margin:10px;
	padding:0px;
	
}

.hidden{
	display:none;
}
.highcharts-title{
    font-family: NotoSansKR-Black;
    font-size:24px;
}
/* main.html*/

.carousel-control-next{
	width:100%;
	height:100%;

}
/* nav.html*/
.navbar{
    width:100%;
}
.navbar-nav{

    align-items: center

}

/*team_info.html*/
#team-info-data{
    position:relative
}
.team-info{
	position: absolute;
	top:100px;
	left:100px;
	width:1000px;

}
.team-info th,td{
    text-align: center;
}
.year-select{

	position: relative;
    top:80px;
    left:100px;
}



/*game_info.html*/

#date_pick{
	border:none;
	width: 150px;
}

.date-select{
	position: relative;

	width: 100%;
	height: 40px;
	margin-top:50px;
}
.date-select ul li{
	position:relative;
	margin:5px;
	padding: 5px;
	list-style-type: none;
	}

.date-select ul{
	text-align:center;
	padding-left:0px;
	height: 60px;
}
.date-select li{
	display:inline-block;
}
.today {
	vertical-align:5px;
}

#update-time{
    position:relative;
    float: right;
    margin-right: 50px;
}





.game-info{
    position:relative;
    float:top;
    width:180px;
    height:80px;
    }


.game-info-away{
    position:relative;
    float:left;
    }
.game-info-home{
    position:relative;
    float:right;
    }


.game-info-basic{
    margin-bottom:10px;

}
#game-info-vs {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: 700;
    color: #cfcfcf;
    position:relative;
    top:20px;
    margin:10px;
    }

.today-game-zone{
	position: relative;

	max-width: 1200px;

}


.today-game-wrap{
	position: relative;
    vertical-align: middle;
    overflow: hidden;
    margin-left:40px;
    margin-right:40px;
}

.today-game-wrap ul{

	text-align: center;
	padding-left:0px;
    white-space: nowrap;
    left: 20px;
}



.today-game-wrap li{

	display:inline-block;

}



#today-game-contents{
	position: relative;
	margin-top:100px;
	text-align: center;
	font-size:20px;
}

#today-game-tab{
	position: relative;
}



.card{
	width:200px;
	height:200px;
	margin:10px;
}

.card:hover{
    background-color:rgba(240,240,240);
}
.card-title{
	background-color:black;
	color:white;
	height:30px;
	margin-bottom:0.5rem;
}

.card-body{
	padding-right:0px;
	padding-left:0px;
}

.card-body>div{
	display:inline-block;
}
#today-game-button{
    height: 15px;
}

.dir-button{
    position: absolute;

    width:15px;
    height:15px;

}
#left-button{
    left:1050px;
    border: red;
}
#right-button{
    left:1080px;

}

.click-info{
    margin-top: 50px;
    text-align:center;
    font-size: 16px;

}
/* boxscore.html*/

.box-score table{
    font-size: 16px;
}

.box-score-area{
	position: relative;
	width:1200px;
	margin:50px 50px 0px 0px;
}
.batter-record-area{
	position: relative;
	width:1200px;
	margin:50px 50px 0px 0px;
	
}
.pitcher-record-area{
	position: relative;
	width:1200px;
	margin:50px 50px 0px 0px;
}
.pitcher-record-area td{
    width: 100px
}
.box-score-title{
    text-align: left;
}
.batter-title{
    text-align: left;
}
.pitcher-title{
    text-align: left;
}
/*preview.html*/

.preview-box{
    margin-top:30px;
    margin-bottom:60px;
    width:1200px;
    height:500px;

}


.box-title{
    height:30px;
}
.box-contents{

    margin-top: 30px;
    margin-bottom: 30px;
    width: 1200px;

}


/* preview-team*/
#preview-team{
    height:400px;
}
.title-box ul{
    white-space:nowrap;
    padding:0px;
}
.title-box li{
    position:relative;
    display: inline-block;
    height:300px;
    width:400px;
    vertical-align:middle;

}
.title-box li div{
    position:relative;
    text-align: center;
    top:40px;
}
#title-word div{
    position:relative;
}


/*preview-rate*/

#preview-rate{
    height:400px;
}

.dist-box ul{
    padding: 0px;
    white-space: nowrap;
}
.dist-box li {
    display:inline-block;
    vertical-align: top;
    height: 400px;
}

.dist-card{
    position: relative;
    width: 300px;
}
.dist-card ul{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}
.dist-card li {
    display: inline;

}
.dist-card-away{
    text-align:left;
}
.dist-card-home{
    text-align:right;
}


.game-rate-title{
    position: relative;
    margin-top:20px;
    font-size:24px;
    text-align:center;

    height:60px;
}
.game-rate{
    position:relative;
    width:240px;
    height:120px;
    display:inline-block;
    vertical-align: top;
}
.game-rate-middle{

    width:120px;

}



.rate-info{
    text-align:center;
    height:32px;
    padding-top:3px;
    margin-bottom:3px;
    vertical-align:middle;
    font-size:18px;
}
.rate-graph {
    position: relative; /* IE is dumb */
    width: 200px;
    height: 32px;

    padding: 2px;
    font-size:16px;
    font-family:tahoma;
    margin-bottom:3px;
}
.rate-graph .rate-bar {
    display: block;
    position: relative;
    text-align: center;

    height: 26px;

}
.rate-graph .rate-bar span {
    position: absolute; left: 1em;
}

.game-rate-away div{
    float: right;
    color: rgb(33,33,33);

    border: 1px solid rgb(124,181,236);
}
.game-rate-home div{
    border: 1px solid rgb(67,67,72);
    color: rgb(255,255,255);

}

.game-rate-away div strong{
    float: right;
    background: rgb(124,181,236);

}

.game-rate-home div strong{
    background: rgb(67,67,72);
    width: 0;

}

.add-info{
    position:absolute;
    left:105%;
    top:0%;
    padding-bottom: 5px
    padding-left: 5px;
    padding-right:5px;
}
.add-info-img{
    width:20px;
}

.add-pop-layer{
    position:absolute;
    left: -545px;
    top: 32px;
    width:540px;
    height:300px;
    background: rgb(255,255,255);

    z-index: 1;
}

.emb-back{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}
.emb-back img{
    width: 300px;
    opacity: 0.1;
}
.game-title-box{
    width:600px;

}
.game-title{
    position:relative;
    width:240px;
    height:400px;
    display:inline-block;
    vertical-align: top;
}
#game-title-middle{

    width:120px;

}
.game-title-info div{
    text-align:center;
    font-size:18px;
}
.emb-game-title{
    position:relative;
    width:240px;
    height:200px;
    vertical-align:middle;
}
.emb-game-title img{
    position:absolute;
    width:180px;
    left:40%;
    top:50%;
    transform: translate(-50%,-50%);
}
#emb-title-away{
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
#emb-title-home{
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
#game-title-vs{
    position:relative;
    top:90px;
    width:100%;
    height:100px;
    text-align:center;
    font-size: 24px;

}

.game-title-list{
    position:relative;
    text-align:center;
    top:100px;
}
.recent-title div{


    display:inline-block;
    vertical-align:bottom;
    margin: 3px;

}
.recent-title-word{
    font-size: 24px;
    vertical-align: bottom;
}

#recent-title-away{
    margin-left:5px;
}
#recent-title-home{
    margin-right:10px;
}
.recent-games div{
    display:inline-block;
    margin:3px;
    font-size: 1rem;
}
.pre-emb{
    width:50px;
}



.pre-sp-emb{
    width:40px;
}
.recent-run{
    text-align: center;
    width:20px;
}
.sp-title{
    font-size: 18px;
}
.img-sp{
    width:200px;

}
#img-sp-away{
    float:left;
}
#img-sp-home{
    float:right;
}

.recent-sp span{
    position: relative;
    margin:1px;

    font-size: 1rem;
    }

#sp-dist-away ul{
    left:36%;
    top:88%;
}
#sp-dist-home ul{
    left:64%;
    top:88%;
}



.dist-graph{
    width:600px;
    height:400px;
}
.dist-graph-away{
    width:260px;
    height:300px;
}
.dist-graph-home{
    width:340px;
    height:300px;
}
.card-record-home{
    width:210px;
    height:210px;
}
.run-dist-graph{

    width:600px;
}




.run-graph{
    width:600px;
    height:400px;
}

.run-graph-away{
    float:left;
}

.run-graph-home{
    float:right;
}

.run-graph div{
    display:inline-block;

}





/*lineup.html*/

.lineup-wrap{
    height: 800px;
}

.lineup-title{
    text-align:left;
    margin-bottom:10px;
}

.lineup-area{
    width: 500px;

    margin-top:50px;
}

#lineup-away{
    float:left;
    }

#lineup-home{
    float:right;
    }
.emb-name{
    font-size: 20px;
    vertical-align: middle;
    }

.tbl-lineup{
    text-align: center;
}