



/* base.html */
@font-face {
  font-family: BlackHanSans-Regular;
  src: url('./fonts/BlackHanSans-Regular.ttf');
}
* {
	font-family: BlackHanSans-Regular;
}
html{
	width:100%;
	height:100%;
}
body{
	width:100%;
	height:100%;
	overflow:auto;
	
}


.wrap-container{
	position: relative;
	width:100%;
	height:100%;
	
	}

.container{
	min-height:800px;
	margin: 0 auto;
	padding: 50px 0;
}
.contents{
	position: relative;
	float: left;
	width: 1200px;
	top: 0px;
	left: 0px;
	margin:10px;
	padding:0px;
	
}

.hidden{
	display:none;
}
.highcharts-title{
    font-size:24px;
}
/* main.html*/
.carousel-control-next{
	width:100%;
	height:100%;
}

/*team_info.html*/

.team-info{
	position: relative;
	top:100px;
	left: 100px;
}




/*game_info.html*/

#date_pick{
	border:none;
	width: 150px;
}

.date-select{
	position: relative;

	width: 100%;
	height: 40px;
	margin-top:50px;
}
.date-select ul li{
	position:relative;
	margin:5px;
	padding: 5px;
	list-style-type: none;
	}

.date-select ul{
	text-align:center;
	padding-left:0px;
	height: 60px;
}
.date-select li{
	display:inline-block;
}
.today {
	vertical-align:5px;
}

#update-time{
    position:relative;
    float: right;

}





.game-info{
    position:relative;
    float:top;
    width:180px;
    height:80px;
    }


.game-info-away{
    position:relative;
    float:left;
    }
.game-info-home{
    position:relative;
    float:right;
    }


.game-info-basic{
    margin-bottom:10px;

}
#game-info-vs {
    font-family: Tahoma;
    font-size: 16px;
    font-weight: 700;
    color: #cfcfcf;
    position:relative;
    top:20px;
    margin:10px;
    }

.today-game-zone{
	position: relative;

	max-width: 1200px;

}


#today-game-wrap{
	position: relative;
    vertical-align: middle;
    overflow: hidden;
    margin-left:40px;
    margin-right:40px;
}

#today-game-wrap ul{

	text-align: center;
	padding-left:0px;
    white-space: nowrap;
    left: 20px;
}



#today-game-wrap li{

	display:inline-block;

}



#today-game-contents{
	position: relative;
	margin-top:100px;

}

#today-game-tab{
	position: relative;
}



.card{
	width:200px;
	height:200px;
	margin:10px;
}

.card:hover{
    background-color:rgba(240,240,240);
}
.card-title{
	background-color:black;
	color:white;
}

.card-body{
	padding-right:0px;
	padding-left:0px;
}

.card-body>div{
	display:inline-block;
}
#today-game-button{
    height: 15px;
}

.dir-button{
    position: absolute;

    width:15px;
    height:15px;

}
#left-button{
    left:1050px;
    border: red;
}
#right-button{
    left:1080px;

}
/* boxscore.html*/

.box-score-area{
	position: relative;
	width:1200px;
	margin:50px 50px 0px 0px;
}
.batter-record-area{
	position: relative;
	width:1200px;
	margin:50px 50px 0px 0px;
	
}
.pitcher-record-area{
	position: relative;
	width:1200px;
	margin:50px 50px 0px 0px;
}



/*preview.html*/

.preview-box{
    margin-top:30px;
    margin-bottom:30px;
}

.box-title{
    height:30px;
}
.box-contents{

    margin-top: 30px;
    margin-bottom: 30px;
    width: 1200px;
    height: 400px;
}

.dist-box ul{
    padding: 0px;
    white-space: nowrap;
}
.dist-box li {
    display:inline-block;
    vertical-align: top;
    height: 400px;
}

.dist-card{
    position: relative;
    width: 300px;
}
.dist-card ul{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}
.dist-card li {
    display: inline;

}
.dist-card-home{
    text-align:right;
}

.emb-back{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}
.emb-back img{
    width: 300px;
    opacity: 0.1;
}


.recent-title div{


    display:inline-block;
    vertical-align:bottom;
    margin: 3px;

}
.recent-title-word{
    font-size: 24px;
    vertical-align: bottom;
}

#recent-title-away{
    margin-left:5px;
}
#recent-title-home{
    margin-right:10px;
}
.recent-games div{
    display:inline-block;
    margin:3px;
    font-size: 1rem;
}
.pre-emb{
    width:50px;
}

.pre-sp-emb{
    width:40px;
}
.recent-run{
    text-align: center;
    width:20px;
}
.sp-title{
    font-size: 18px;
}
.img-sp{
    width:200px;

}
#img-sp-away{
    float:left;
}
#img-sp-home{
    float:right;
}

.recent-sp span{
    position: relative;
    margin:1px;

    font-size: 1rem;
    }

#sp-dist-away ul{
    left:36%;
    top:88%;
}
#sp-dist-home ul{
    left:70%;
    top:88%;
}



.dist-graph{
    width:600px;
    height:400px;
}

.card-record-home{
    width:210px;
    height:210px;
}
.run-dist-graph{

    width:600px;
}




.run-graph{
    width:600px;
    height:400px;
}

.run-graph-away{
    float:left;
}

.run-graph-home{
    float:right;
}

.run-graph div{
    display:inline-block;

}
.btn-pre{
    vertical-align:top;
    float:right;
    margin-left:5px;
}




/*lineup.html*/

.lineup-title{
    margin-bottom:10px;
}

.lineup-area{
    width: 500px;
    margin-top:50px;
}

#lineup-away{
    float:left;
    }

#lineup-home{
    float:right;
    }
.emb-name{
    font-size: 20px;
    vertical-align: middle;
    }

.tbl-lineup{
    text-align: center;
}