




<div class="today-game-wrap" >
    <input class="hidden" id="today-game-input" value="{{data_length}}">
    <div id="today-game-button">
    </div>
    {% if game_date_set %}
    <ul id="today-game-list" >

        {% for game in game_date_set %}
        <li class="card" id="card{{game.game_num_idx}}" onclick="saveGamenum({{game.game_num_idx}})" role='button'>
            <div class ="card-title">
                <span>{{game.stadium}}</span>
                <span> | </span>
                <span>{{game.end}}</span>
                
            </div>
            <div class ="card-body">
                <div class="game-info">
                    <div class="game-info-away">
                        <div class= "game-info-basic" id="info-basic-away">
                            <div class="emb"><img class="emb-away" id="emb-away" src= "{{game.away_url}}" alt= {{game.away_name}}></div>
                            <div><span>{{game.away_name}}</span></div>
                        </div>
                        <div class="game-info-record" id="info-record-away">
                            <div><span>{{game.away_score}}</span></div>
                            <div><span>{{game.away_pitcher}}</span></div>
                        </div>
                    </div>

                    <span id="game-info-vs">vs</span>



                    <div class="game-info-home">
                        <div class="game-info-basic" id="info-basic-home">
                            <div class="emb"><img class="emb-home" id="emb-home" src= "{{game.home_url}}" alt= {{game.home_name}}></div>
                            <div><span>{{game.home_name}}</span></div>
                        </div>
                        <div class="game-info-record" id="info-record-home">
                            <div><span>{{game.home_score}}</span></div>
                            <div><span>{{game.home_pitcher}}</span></div>
                        </div>
                    </div>
                </div>



            </div>
        </li>
        {% endfor %}


    </ul>
    {% else %}<span>경기가 없는 날입니다.</span>
    {% endif %}
</div>
<div id="today-game-contents">
    <div id="today-game-tab" class="hidden" >

         <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" id="nav-item-pre" role="presentation">
                <a class="nav-link active" id="preview-tab" data-toggle="tab" href="#preview-contents" role="tab" aria-controls="preview-contents" aria-selected="true">Preview</a>
            </li>
            <li class="nav-item" id="nav-item-lineup" role="presentation">
                <a class="nav-link" id="lineup-tab" data-toggle="tab" href="#lineup-contents" role="tab" aria-controls="lineup-contents" aria-selected="false">Lineup</a>
            </li>
            <li class="nav-item" id="nav-item-boxscore" role="presentation">
                <a class="nav-link" id="boxscore-tab" data-toggle="tab" href="#boxscore-contents" role="tab" aria-controls="boxscore-contents" aria-selected="false" >BoxScore</a>
            </li>

        </ul>


        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="preview-contents" role="tabpanel" aria-labelledby="preview-tab"></div>
            <div class="tab-pane fade" id="lineup-contents" role="tabpanel" aria-labelledby="lineup-tab"></div>
            <div class="tab-pane fade" id="boxscore-contents" role="tabpanel" aria-labelledby="boxscore-tab"></div>
        </div>


    </div>
</div>



<script type="text/javascript">


    $(document).ready(function() {
        setIsend()

        game_len = $("#today-game-input").val()


        if (game_len> 5) {

            var left_html = '<a><img class="dir-button" id="left-button" role="button" src="/static/images/button/left_gray_button.png" alt="left_button"></a>'
            var right_html = '<a><img class="dir-button" id="right-button" role="button" src="/static/images/button/right_button.png" alt="right_button"></a>'
            $('#today-game-button').append(left_html)
            $('#today-game-button').append(right_html)

            hide_idx = 1
            }

        $('#left-button').on('click',function () {

            $('#card'+ hide_idx).css("display","inline-block")
            $('#right-button').attr("src","/static/images/button/right_button.png")
            if (hide_idx == 1) {$('#left-button').attr("src","/static/images/button/left_gray_button.png") }

            if (hide_idx > 1){ hide_idx-=1}

        })
        $('#right-button').on('click',function () {
1
            $('#card'+ hide_idx).css("display","none")
            $('#left-button').attr("src","/static/images/button/left_button.png")

            if (game_len - hide_idx == 5){ $('#right-button').attr("src","/static/images/button/right_gray_button.png") }
            if (game_len - hide_idx > 5 ){ hide_idx+=1}



        })
    });





    // select card function
    last_game_num_idx = 0
    $('.card').on('click', function () {

        setPreview()
        $("#today-game-tab").removeClass('hidden')
        var game_num_idx = $('#myTab').data("game_num_idx")
        card_id = "#card" + String(game_num_idx)
        $(card_id).css("background-color","rgba(245,245,245)")
        last_card_id = "#card" + String(last_game_num_idx)
        $(last_card_id).css("background-color","")
        last_game_num_idx = game_num_idx



    })
    function saveGamenum(game_num_idx){
        $('#myTab').data("game_num_idx",game_num_idx)

    }
    function setPreview(){
        document.getElementById("preview-tab").setAttribute("class","nav-link active")
        document.getElementById("preview-contents").setAttribute("class","tab-pane fade show active")


        document.getElementById("lineup-tab").setAttribute("class","nav-link")
        document.getElementById("lineup-contents").setAttribute("class","tab-pane fade")

        document.getElementById("boxscore-tab").setAttribute("class","nav-link")
        document.getElementById("boxscore-contents").setAttribute("class","tab-pane fade")

        PreviewTab()
        }
    
    
    // select tab function

    $('#myTab a').on('click', function (e) {
      e.preventDefault()

    })


    $('#boxscore-tab').on('click',function(){

        BoxscoreTab()

	})

	$('#lineup-tab').on('click',function(){

        LineupTab()

	})

	function setIsend(){
        var is_end = "{{is_end}}"
        if (is_end=="True"){
            $("#nav-item-lineup").addClass('hidden')
            $("#nav-item-boxscore").removeClass('hidden')
        }
        else {
            $("#nav-item-lineup").removeClass('hidden')
            $("#nav-item-boxscore").addClass('hidden')
        }
    }
	
	function PreviewTab(){
    	var game_num_idx = $('#myTab').data("game_num_idx");
    	var date = $("#date_pick").val();
    	var set_date = moment(date).format("YYYYMMDD");
        var set_url = 'preview/' + set_date +'/' + game_num_idx;

        getPreview(set_url);

    }
    	
    	
    function BoxscoreTab(){
        var game_num_idx = $('#myTab').data("game_num_idx");
        var date = $("#date_pick").val();
        var set_date = moment(date).format("YYYYMMDD");
        var set_url = 'boxscore/' + set_date +'/' + game_num_idx;
        getBoxscore(set_url);
	}

    function LineupTab(){
        var game_num_idx = $('#myTab').data("game_num_idx");
        var date = $("#date_pick").val();
        var set_date = moment(date).format("YYYYMMDD");
        var set_url = 'lineup/' + set_date +'/' + game_num_idx;
        getLineup(set_url);
	}


    function getPreview(set_url){
        $.ajax({
                    type: "GET",
                    url: set_url,
                    success:function(data){

                        $("#preview-contents").html(data);

                    },
                    error:function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);


			        }
        
		});
    }
    
    
    function getBoxscore(set_url){
        $.ajax({
                    type: "GET",
                    url: set_url,
                    success:function(data){

                        $("#boxscore-contents").html(data);
                    },
                    error:function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);


			        }
        
		});
    }

    function getLineup(set_url){
        $.ajax({
                    type: "GET",
                    url: set_url,
                    success:function(data){

                        $("#lineup-contents").html(data);
                    },
                    error:function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);


			        }

		});
    }
    
    


        
        
        
  
</script>

