
<div class="preview-wrap" style="opacity:0">

    <div class= "preview-box" id="preview-team">
        <div class="box-title">

        </div>
        <div class="box-contents">
            <div class="dist-box" id="team-dist-box">

                <ul>
                    <li class="dist-card dist-card-away dist-team" id="team-dist-away">
                        <div id="recent-title-away" class="recent-title">
                            <div class="recent-title-word"><h> {{away_dic.name}} - 최근7경기 </h></div>

                            <hr style="position:absolute;width:300px;top:24px;">
                        </div>

                        <div class="emb-back"><img id="emb-back-away" src= "{{away_dic.url}}" alt= {{away_dic.name}}></div>
                        <div>
                            <ul>
                                {% for set in away_set %}
                                    <li>
                                        <div class="recent-games">
                                            <div>{{set.date}}</div>
                                            <div>{{set.stadium}}</div>
                                            <div><img class='pre-emb' src= "{{set.away_url}}" alt= "{{set.away_name}}" ></div>
                                            <div class="recent-run">{{set.away_run}}</div>
                                            <div>:</div>
                                            <div class="recent-run">{{set.home_run}}</div>
                                            <div><img class='pre-emb' src= "{{set.home_url}}" alt= "{{set.home_name}}"></div>
                                            <div class="recent-result" value="{{set.result}}">{{set.result}}</div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </li>
                    <li class="game-title-box">
                        <div id="game-title-away" class="game-title">
                            <div class="emb-game-title"> <img id="emb-title-away" src= "{{away_dic.url}}" alt= {{away_dic.name}}></div>
                            <div class="game-title-info">
                                <div>{{away_dic.rank}}</div>
                                <div>{{away_dic.win_rate}}</div>
                                <div>{{away_dic.home_away}}</div>
                                <div>{{away_dic.rela}}</div>
                                <div>???</div>
                            </div>
                        </div>
                        <div id="game-title-middle" class="game-title">

                            <div id="game-title-vs" class="h4">vs</div>
                            <div class="game-title-list game-title-info">
                                <div><b>순위</b></div>
                                <div><b>승률</b></div>
                                <div><b>홈/원정</b></div>
                                <div><b>상대전적</b></div>
                                <div>???</div>
                            </div>
                        </div>
                        <div id="game-title-home" class="game-title">
                            <div class="emb-game-title"> <img id="emb-title-home" src= "{{home_dic.url}}" alt= {{home_dic.name}}></div>
                            <div class="game-title-info">
                                <div>{{home_dic.rank}}</div>
                                <div>{{home_dic.win_rate}}</div>
                                <div>{{home_dic.home_away}}</div>
                                <div>{{home_dic.rela}}</div>
                                <div>???</div>
                            </div>
                        </div>


                    </li>
                    <li class="dist-card dist-card-home dist-team" id="team-dist-home">
                        <div id="recent-title-home" class="recent-title">

                            <div class="recent-title-word"><h> {{home_dic.name}} - 최근7경기 </h></div>

                            <hr style="position:absolute;width:300px;top:24px;right:10px;">
                        </div>

                        <div class="emb-back"><img class='pre-emb' id="emb-back-home" src= "{{home_dic.url}}" alt= {{home_dic.name}}></div>
                        <div>
                            <ul>
                                {% for set in home_set %}
                                <li>
                                    <div class="recent-games">
                                        <div>{{set.date}}</div>
                                        <div>{{set.stadium}}</div>
                                        <div><img class='pre-emb' src= "{{set.away_url}}" alt= "{{set.away_name}}" ></div>
                                        <div class="recent-run">{{set.away_run}}</div>
                                        <div>:</div>
                                        <div class="recent-run">{{set.home_run}}</div>
                                        <div><img class='pre-emb' src= "{{set.home_url}}" alt= "{{set.home_name}}"></div>
                                        <div class="recent-result" value="{{set.result}}">{{set.result}}</div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    {%if is_end %}
    {% else  %}
        <div class= "preview-box" id="preview-rate">
            <div class="box-title">
                <div class="dist-box" id="rate-dist-box">
                    <ul>
                        <li class="dist-card dist-card-away dist-sp" id="run-rate-away"></li>
                        <li class="dist-graph-away" id="win-rate-away"></li>
                        <li class="dist-graph-home" id="win-rate-home"></li>
                        <li class="dist-card dist-card-home dist-sp" id="run-rate-home"></li>
                    </ul>
                </div>
            </div>
            <div class="box-contents">
            </div>
        </div>
        <hr>
    {% endif %}
    <div class= "preview-box" id="preview-pitcher">
        <div class="box-title">

        </div>
        <div class="box-contents">
            <div class="dist-box" id="sp-dist-box">

                <ul>
                    <li class="dist-card dist-card-away dist-sp" id="sp-dist-away">
                        <div id="sp-title-away" class="sp-title"><b>{{away_dic.sp}}</b></div>
                        <hr style="position:absolute;width:220px;top:6px;">

                        <ul>
                            <li><b>- 최근등판기록</b></li>
                            {% for set in away_sp_set %}
                            <li>
                                <div class="recent-sp">
                                    <span>vs</span>
                                    <span>{{set.date}}</span>
                                    <span><img class='pre-sp-emb' src= "{{set.foe_url}}" alt= "{{set.foe_name}}" ></span>

                                    <span class="recent-run">{{set.ip}}이닝</span>
                                    <span class="recent-run">{{set.r}}실점</span>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                    </li>
                    <li class="dist-graph" id="sp-dist-graph"></li>
                    <li class="dist-card dist-card-home dist-sp" id="sp-dist-home">
                        <div id="sp-title-home" class="sp-title"><b>{{home_dic.sp}}</b></div>
                        <hr style="position:absolute;width:220px;top:6px;right:0px">

                        <ul>
                            <li><b>- 최근등판기록</b></li>
                            {% for set in home_sp_set %}
                            <li>
                                <div class="recent-sp">
                                    <span>vs</span>
                                    <span>{{set.date}}</span>
                                    <span><img class='pre-sp-emb' src= "{{set.foe_url}}" alt= "{{set.foe_name}}" ></span>

                                    <span class="recent-run">{{set.ip}}이닝</span>
                                    <span class="recent-run">{{set.r}}실점</span>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class= "preview-box" id="preview-rp" style="opacity:0">
        <div class="box-title">

        </div>
        <div class="box-contents">
            <div class="run-box" id="rp-graph-box">
                <div class="run-graph run-graph-away" id="rp-graph-away"></div>
                <div class="run-graph run-graph-home" id="rp-graph-home"></div>

            </div>


        </div>
    </div>
    <hr>
    <div class= "preview-box" id="preview-run-dist" style="opacity:0">

        <div class="box-title">

        </div>

        <div class="box-contents">
            <div class="dist-box" id="run-dist-box" >

                <ul>
                    <li class="dist-card dist-card-away" id="run-dist-away">{{away_dic.name}}</li>
                    <li class="dist-graph" id="run-dist-graph"></li>
                    <li class="dist-card dist-card-home" id="run-dist-home">{{home_dic.name}}</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class= "preview-box" id="preview-run" style="opacity:0">

        <div class="box-title">

        </div>

        <div class="box-contents">

            <div class="run-box" id="run-graph-box">
                <div class="run-graph run-graph-away" id="run-graph-away"></div>
                <div class="run-graph run-graph-home" id="run-graph-home"></div>

            </div>
        </div>
    <hr>
    </div>
</div>


<script type="text/javascript">
    /* 기본정보 불러오는 java-script*/

    $(document).ready(function() {
        $('.preview-wrap').fadeTo(2000,1)
        SpPicture()


    });

    DateStr()
    get_recent_color()


    function DateStr(){
        var date = "{{date}}"
        var year = date.substring(0,4)
        var month = date.substring(4,6)
        var day = date.substring(6,8)
        var date_str = year + '년 ' + month + "월 " + day + "일 " + "{{stadium}}"
        $('#title-date').append(date_str)

    }

    function SpPicture(){

        var home_name = "{{home_dic.name}}"
        var home_sp = "{{home_dic.sp}}"

        var away_name = "{{away_dic.name}}"
        var away_sp = "{{away_dic.sp}}"

        function getHtml(team,name,home_away){
            var team = team
            var name = name
            var html = '<div><img class="img-sp"' +' id="img-sp-' + home_away +'"'+' src="/static/images/pitcher_300x400/' + team + '_' + name +'.jpg"' + 'onerror="this.src=' + "'/static/images/pitcher_300x400/기본사진.jpg'" +'"' +'></div>'

            return html
        }

        $('#sp-dist-away').append(getHtml(away_name,away_sp,"away"))

        $('#sp-dist-home').append(getHtml(home_name,home_sp,"home"))

    }

    function get_recent_color(){
        $('div[value=승]').attr("style","color: rgb(255,0,0);")
        $('div[value=패]').attr("style","color: rgb(70,70,70);")
        $('div[value=무]').attr("style","color: green;")

    }

</script>

<script type="text/javascript">
    /* 승률정보 불러오는 java-script */
    $(document).ready(function() {

            GameRateGraph()
    });

    function GameRateGraph(){
       // var set_url = 'sp_graph/' + {{date}} +'/' + {{today_game_num}};
       //getRateGraph()
       ChartWinRateAway('win-rate-away')
       ChartWinRateHome('win-rate-home')

       ChartRunRateAway('run-rate-away')
       ChartRunRateHome('run-rate-home')
    }
    function ChartWinRateAway(id_index){

        Highcharts.chart(id_index, {

            chart: {
                type:'bar'
            },

            title: {
                text: null
            },
            xAxis: {
                title:{
                    text:null
                },
                opposite: true,
                reversed: true,

                categories: ['model1','model2','model3','model4','model5'],
                labels:{
                    enabled:false
                    }

            },

            yAxis: {
                title:{
                    text:null
                },
                labels: {

                    formatter: function () {
                        return Math.abs(this.value) + '%';
                    }
                },
            min:-100

            },

            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + ', run ' + this.point.category + '</b><br/>' +
                        'Population: ' + Highcharts.numberFormat(Math.abs(this.point.y), 1) + '%';
                }
            },
            series: [{
                name: '한화',
                data: [-55,-45,-48,-47,-52],
                dataLabels: {
                    enabled: true,

                    color: '#FFFFFF',
                    align: 'left',
                    formatter: function() {
                        return Math.abs(this.point.y).toFixed(1) +'%' // one decimal
                    },
                    style: {
                        fontSize: '15px',
                    }
                }
            }],
            credits: {
                enabled: false
            },
            legend:{
                enabled: false
            }
        });

    }

    function ChartWinRateHome(id_index){

        Highcharts.chart(id_index, {

            chart: {
                type:'bar'
            },

            title: {
                text: null
            },
            xAxis: {
                title:{
                    text:null
                },

                reversed: true,

                categories: ['model1','model2','model3','model4','model5'],

                labels:{
                    align:'right',
                    style:{
                        fontSize: '15px'
                        }
                }

            },

            yAxis: {
                title:{
                    text:null
                },
                labels: {

                    formatter: function () {
                        return Math.abs(this.value) + '%';
                    }
                },
            max:100

            },

            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + ', run ' + this.point.category + '</b><br/>' +
                        'Population: ' + Highcharts.numberFormat(Math.abs(this.point.y), 1) + '%';
                }
            },
            series: [{
                name: '롯데',
                data: [45,55,53,52,48],
                color: 'rgb(67,67,72)',
                dataLabels: {
                    enabled: true,

                    color: '#FFFFFF',
                    align: 'right',
                    formatter: function() {
                        return Math.abs(this.point.y).toFixed(1) + "%" // one decimal
                    },
                    style: {
                        fontSize: '15px',
                    }
                },

            }],
            credits: {
                enabled: false
            },
            legend:{
                enabled: false
            }
        });

    }
    function ChartRunRateAway(id_index){

        Highcharts.chart(id_index, {

            chart: {
                type:'bar'
            },

            title: {
                text: null
            },
            xAxis: {
                title:{
                    text:null
                },

                reversed: false,

                categories: ['0-1','2-3','4-5','6-7','8-9','10-11','12-13','14+'],


            },

            yAxis: {
                title:{
                    text:null
                },

                labels: {

                    formatter: function () {
                        return Math.abs(this.value) + '%';
                    }
                },


            },

            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + ', run ' + this.point.category + '</b><br/>' +
                        'Population: ' + Highcharts.numberFormat(Math.abs(this.point.y), 1) + '%';
                }
            },
            series: [{
                name: '한화',
                data: [15,30,15,15,10,5,7,3],

            }],
            credits: {
                enabled: false
            },
            legend:{
                enabled: false
            }

        });

    }
    function ChartRunRateHome(id_index){

        Highcharts.chart(id_index, {

            chart: {
                type:'bar'
            },

            title: {
                text: null
            },
            xAxis: {
                title:{
                    text:null
                },

                reversed: false,
                opposite: true,
                categories: ['0-1','2-3','4-5','6-7','8-9','10-11','12-13','14+'],


            },

            yAxis: {
                title:{
                    text:null
                },
                labels: {

                    formatter: function () {
                        return Math.abs(this.value) + '%';
                    }
                },


            },

            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + ', run ' + this.point.category + '</b><br/>' +
                        'Population: ' + Highcharts.numberFormat(Math.abs(this.point.y), 1) + '%';
                }
            },
            series: [{
                name: '롯데',


                data: [-15,-30,-15,-15,-10,-5,-7,-3],
                color: 'rgb(67,67,72)'
            }]
            ,
            credits: {
                enabled: false
            },
            legend:{
                enabled: false
            }
        });

    }
</script>
<script type="text/javascript">
    /* 선발투수기록 불러오는 java-script*/

    $(document).ready(function() {

        getSpGraph();


    });

    function getSpGraph(){
       var set_url = 'sp_graph/' + {{date}} +'/' + {{today_game_num}};

        $.ajax({
            url: set_url,
            dataType:'json',
            success: function(data){
                Highcharts.chart('sp-dist-graph', {

                    chart: {
                        type:'bar'
                    },

                    title: {
                        text: "선발투수비교"


                    },

                    subtitle: {
                        text: null
                    },



                    xAxis: [{
                        opposite: true,
                        reversed: false,

                        categories: ['득점지원','불펜실점','ERA','FIP','평균이닝','10경기당 QS','선발등판'],
                        labels: {
                            step: 1,

                            style:{ fontSize:'13px'}

                        },
                        accessibility: {
                            description: data.away_dic.sp
                        },


                    }, {

                        reversed: false,

                        categories: ['득점지원','불펜실점','ERA','FIP','평균이닝','10경기당 QS','선발등판'],

                        linkedTo: 0,
                        labels: {
                            step: 1,

                            style:{ fontSize:'13px'}
                        },
                        accessibility: {
                            description: data.home_dic.sp
                        },


                    }],

                    yAxis: {

                        title: {
                        text: null
                        },
                        labels: {
                            formatter: function () {
                                return Math.abs(this.value);
                            }
                        },
                        min: -10,
                        max: 10

                    },


                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },

                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.point.category +': ' + Highcharts.numberFormat(Math.abs(this.point.y), 1) + '</b>';

                        }
                    },
                    series: [{
                        name: data.away_dic.sp,
                        data: [-data.away_dic.run,-data.away_dic.rp,-data.away_dic.era,-data.away_dic.fip,-data.away_dic.inn,-data.away_dic.qs,-data.away_dic.count],

                        dataLabels: {
                            enabled: true,

                            color: '#FFFFFF',
                            align: 'left',
                            formatter: function() {
                                return Math.abs(this.point.y).toFixed(1) // one decimal
                            },
                            style: {
                                fontSize: '15px',
                            }
                        }
                    },
                    {
                        name: data.home_dic.sp,
                        data: [data.home_dic.run,data.home_dic.rp,data.home_dic.era,data.home_dic.fip,data.home_dic.inn,data.home_dic.qs,data.home_dic.count],
                        dataLabels: {
                            enabled: true,

                            color: '#FFFFFF',
                            align: 'right',
                            formatter: function() {
                                return Math.abs(this.point.y).toFixed(1) // one decimal
                            },
                            style: {
                                fontSize: '15px',
                            }
                        }
                    }],
                    credits: {
                        enabled: false
                    },
                });
            },
            error:function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }



</script>


<script type="text/javascript">
    /* 타자+불펜기록 불러오는 java-script*/

    $(document).ready(function() {


        getRunGraph();


    });

    function getRunGraph(){
        var set_url = 'run_graph/'  + {{date}} +'/' + {{today_game_num}};
        $.ajax({
            url: set_url,
            dataType:'json',
            success: function(data){
                setTimeout(function() {
                    $('.preview-box').fadeTo(2000,1)
                    ChartRpAway(data,'rp-graph-away')
                    ChartRpHome(data,'rp-graph-home')
                    ChartRunDist(data,'run-dist-graph')
                    ChartRunAway(data,'run-graph-away')
                    ChartRunHome(data,'run-graph-home')
                }, 2000);





            },
            error:function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }


        });
    }

    function ChartRunDist(data,id_index){
        var away_dist_list = data.away_dic.dist
        for(var i in away_dist_list){
            away_dist_list[i] = -away_dist_list[i]
        }

        Highcharts.chart(id_index, {

            chart: {
                type:'bar'
            },

            title: {
                text: '득점분포도'
            },

            subtitle: {
                text: null
            },

            xAxis: [{
                reversed: false,

                categories: ['0-1','2-3','4-5','6-7','8-9','10-11','12-13','14+'],
                labels: {
                    step: 1
                },
                accessibility: {
                    description: data.away_dic.name
                },


            }, {
                opposite: true,
                reversed: false,

                categories: ['0-1','2-3','4-5','6-7','8-9','10-11','12-13','14+'],

                linkedTo: 0,
                labels: {
                    step: 1
                },
                accessibility: {
                    description: data.home_dic.name
                },


            }],

            yAxis: {

                title: {
                text: null
                },
                labels: {
                    formatter: function () {
                        return Math.abs(this.value) + '%';
                    }
                },
                min: -50,
                max: 50

            },


            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + ', run ' + this.point.category + '</b><br/>' +
                        'Population: ' + Highcharts.numberFormat(Math.abs(this.point.y), 1) + '%';
                }
            },
            series: [{
                name: data.away_dic.name,
                data: away_dist_list
            },
            {
                name: data.home_dic.name,
                data: data.home_dic.dist
            }],
            credits: {
                enabled: false
            },
        });
    }
    function ChartRunAway(data,id_index){
        Highcharts.chart(id_index, {
                    chart: {
                        width: 600,
                        height: 400
                    },

                    title: {
                        text: '  최근득점추이 - ' + data.away_dic.name
                    },

                    subtitle: {
                        text: null
                    },

                    yAxis: {

                        title: {
                            text: 'Mean of Run'

                        },
                        min: 0,
                        max: 10,
                    },

                    series: [{
                        name: '5-games',
                        data: data.away_dic.r5
                    },
                    {
                        name: '20-games',
                        data: data.away_dic.r20
                    }],
                    credits: {
                        enabled: false
                    },
                });
    }
    function ChartRunHome(data,id_index){
        Highcharts.chart(id_index, {

            chart: {
                width: 600,
                height: 400
            },

            title: {
                text: '  최근득점추이 - ' + data.home_dic.name
            },

            subtitle: {
                text: null
            },

            yAxis: {

                title: {
                    text: 'Mean of Run'

                },
                min: 0,
                max: 10,
            },

            series: [{
                name: '5-games',
                data: data.home_dic.r5
            },
            {
                name: '20-games',
                data: data.home_dic.r20
            }],
            credits: {
                enabled: false
            },
        });
    }
    function ChartRpAway(data,id_index){
        Highcharts.chart(id_index, {
            chart: {
                width: 600,
                height: 400
            },

            title: {
                text: '  불펜실점추이 - ' + data.away_dic.name
            },

            subtitle: {
                text: null
            },

            yAxis: {

                title: {
                    text: 'Mean of FIP'

                },
                min: 0,
                max: 10,
            },

            series: [{
                name: '5-games',
                data: data.away_dic.f5
            },
            {
                name: '20-games',
                data: data.away_dic.f20
            }],
            credits: {
                enabled: false
            },
        });
    }
    function ChartRpHome(data,id_index){
        Highcharts.chart(id_index, {
            chart: {
                width: 600,
                height: 400
            },

            title: {
                text: '  불펜실점추이 - ' + data.home_dic.name
            },

            subtitle: {
                text: null
            },

            yAxis: {

                title: {
                    text: 'Mean of FIP'

                },
                min: 0,
                max: 10,
            },

            series: [{
                name: '5-games',
                data: data.home_dic.f5
            },
            {
                name: '20-games',
                data: data.home_dic.f20
            }],
            credits: {
                enabled: false
            },
        });
    }

</script>

