<div>Hello Preview
</div>
<div>
    <span>
      {{name}}{{date}}{{today_game_num}}
    </span>
</div>

<div class="preview-wrap">
    <hr>
    <div class= "preview-box" id="preview-team">
        <div class="box-title">


            <span><input class="btn-pre" id="btn-team-2" type="button" name="btn-pit-1" value="팀추이?"></span>
            <span><input class="btn-pre" id="btn-team-1" type="button" name="btn-pit-1" value="팀"></span>

        </div>
        <div class="box-contents">
            <div class="dist-box" id="team-dist-box">

                <ul>
                    <li class="dist-card dist-card-away dist-team" id="team-dist-away">
                        <div id="recent-title-away" class="recent-title">
                            <div class="recent-title-word"> {{away_dic.name}} </div>
                            <div class="recent-title-word">  - 최근7경기 </div>
                            <hr style="position:absolute;width:300px;top:24px;">
                        </div>

                        <div class="emb-back"><img id="emb-back-away" src= "{{away_dic.url}}" alt= {{away_dic.name}}></div>
                        <div>
                            <ul>
                                {% for set in away_set %}
                                    <li>
                                        <div class="recent-games">
                                            <div>{{set.date}}</div>
                                            <div>{{set.stadium}}</div>
                                            <div><img class='pre-emb' src= "{{set.away_url}}" alt= "{{set.away_name}}" ></div>
                                            <div class="recent-run">{{set.away_run}}</div>
                                            <div>:</div>
                                            <div class="recent-run">{{set.home_run}}</div>
                                            <div><img class='pre-emb' src= "{{set.home_url}}" alt= "{{set.home_name}}"></div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </li>
                    <li class="dist-graph" id="team-dist-graph"></li>
                    <li class="dist-card dist-card-home dist-team" id="team-dist-home">
                        <div id="recent-title-home" class="recent-title">

                            <div class="recent-title-word"> {{home_dic.name}} </div>
                            <div class="recent-title-word"> - 최근7경기 </div>
                            <hr style="position:absolute;width:300px;top:24px;right:10px;">
                        </div>

                        <div class="emb-back"><img class='pre-emb' id="emb-back-home" src= "{{home_dic.url}}" alt= {{home_dic.name}}></div>
                        <div>
                            <ul>
                                {% for set in home_set %}
                                <li>
                                    <div class="recent-games">
                                        <div>{{set.date}}</div>
                                        <div>{{set.stadium}}</div>
                                        <div><img class='pre-emb' src= "{{set.away_url}}" alt= "{{set.away_name}}" ></div>
                                        <div class="recent-run">{{set.away_run}}</div>
                                        <div>:</div>
                                        <div class="recent-run">{{set.home_run}}</div>
                                        <div><img class='pre-emb' src= "{{set.home_url}}" alt= "{{set.home_name}}"></div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class= "preview-box" id="preview-pitcher">
        <div class="box-title">

            <span><input class="btn-pre" id="btn-pit-2" type="button" name="btn-pit-1" value="중간계투정보"></span>
            <span><input class="btn-pre" id="btn-pit-1" type="button" name="btn-pit-1" value="선발투수정보"></span>

        </div>
        <div class="box-contents">
            <div class="dist-box" id="sp-dist-box">

                <ul>
                    <li class="dist-card dist-card-away dist-sp" id="sp-dist-away">
                        <div id="sp-title-away" class="sp-title">{{away_dic.sp}}</div>
                        <hr style="position:absolute;width:220px;top:6px;">

                        <ul>
                            <li>- 최근등판기록</li>
                            {% for set in away_sp_set %}
                            <li>
                                <div class="recent-sp">
                                    <span>vs</span>
                                    <span>{{set.date}}</span>
                                    <span><img class='pre-sp-emb' src= "{{set.foe_url}}" alt= "{{set.foe_name}}" ></span>

                                    <span class="recent-run">{{set.ip}}이닝</span>
                                    <span class="recent-run">{{set.r}}실점</span>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                    </li>
                    <li class="dist-graph" id="sp-dist-graph"></li>
                    <li class="dist-card dist-card-home dist-sp" id="sp-dist-home">
                        <div id="sp-title-home" class="sp-title">{{home_dic.sp}}</div>
                        <hr style="position:absolute;width:220px;top:6px;right:0px">

                        <ul>
                            <li>- 최근등판기록</li>
                            {% for set in home_sp_set %}
                            <li>
                                <div class="recent-sp">
                                    <span>vs</span>
                                    <span>{{set.date}}</span>
                                    <span><img class='pre-sp-emb' src= "{{set.foe_url}}" alt= "{{set.foe_name}}" ></span>

                                    <span class="recent-run">{{set.ip}}이닝</span>
                                    <span class="recent-run">{{set.r}}실점</span>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="run-box hidden" id="rp-graph-box">
                <div class="run-graph run-graph-away" id="rp-graph-away"></div>
                <div class="run-graph run-graph-home" id="rp-graph-home"></div>

            </div>


        </div>
    </div>
    <hr>
    <div class= "preview-box" id="preview-run">

        <div class="box-title">
            <span><input class="btn-pre" id="btn-run-2" type="button" name="btn-run-2" value="최근득점추이"></span>
            <span><input class="btn-pre" id="btn-run-1" type="button" name="btn-run-1" value="득점분포도"></span>
        </div>

        <div class="box-contents">
            <div class="dist-box" id="run-dist-box">

                <ul>
                    <li class="dist-card dist-card-away" id="run-dist-away">{{away_dic.name}}</li>
                    <li class="dist-graph" id="run-dist-graph"></li>
                    <li class="dist-card dist-card-home" id="run-dist-home">{{home_dic.name}}</li>
                </ul>
            </div>


            <div class="run-box hidden" id="run-graph-box">
                <div class="run-graph run-graph-away" id="run-graph-away"></div>
                <div class="run-graph run-graph-home" id="run-graph-home"></div>

            </div>
        </div>
    <hr>
    </div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
 
<script type="text/javascript">
    $(document).ready(function() {

        SpGraph();
        RunDistGraph();
        TeamGraph()



    });

    SpPicture()

    $("#btn-run-1").on('click', function(){

        RunDistGraph();
        $("#run-dist-box").removeClass('hidden')
        $("#run-graph-box").addClass('hidden')

    });
    $("#btn-run-2").on('click', function(){

        RunGraph();
        $("#run-graph-box").removeClass('hidden')
        $("#run-dist-box").addClass('hidden')

    });

    $("#btn-pit-1").on('click', function(){

        SpGraph()
        $("#sp-dist-box").removeClass('hidden')
        $("#rp-graph-box").addClass('hidden')

    });
    $("#btn-pit-2").on('click', function(){

        RpGraph()
        $("#rp-graph-box").removeClass('hidden')
        $("#sp-dist-box").addClass('hidden')

    });

    function TeamGraph(){
       var set_url = 'run_graph/' + {{date}} +'/' + {{today_game_num}};
       getTeamGraph(set_url)
    }

    function SpPicture(){

        var home_name = "{{home_dic.name}}"
        var home_sp = "{{home_dic.sp}}"


        var away_name = "{{away_dic.name}}"
        var away_sp = "{{away_dic.sp}}"

        function getHtml(team,name,home_away){
            var team = team
            var name = name
            var html = '<div><img class="img-sp"' +' id="img-sp-' + home_away +'"'+' src="/static/images/pitcher_300x400/' + team + '_' + name +'.jpg"' + 'onerror="this.src=' + "'/static/images/pitcher_300x400/기본사진.jpg'" +'"' +'></div>'

            return html
        }

        $('#sp-dist-away').append(getHtml(away_name,away_sp,"away"))

        $('#sp-dist-home').append(getHtml(home_name,home_sp,"home"))

    }

    function SpGraph(){
       var set_url = 'sp_graph/' + {{date}} +'/' + {{today_game_num}};
       getSpGraph(set_url)
    }



    function RpGraph(){

        var set_url = 'run_graph/' + {{date}} +'/' + {{today_game_num}};
        getRpGraphAway(set_url)
        getRpGraphHome(set_url)
    }


    function RunDistGraph(){
        var set_url = 'run_graph/' + {{date}} +'/' + {{today_game_num}};
        getRunDistGraph(set_url)
    }
    function RunGraph(){


        var set_url = 'run_graph/' + {{date}} +'/' + {{today_game_num}};

        getRunGraphAway(set_url)
        getRunGraphHome(set_url)


    }
    function getTeamGraph(set_url){
        $.ajax({
            url: set_url,
            dataType:'json',
            success: function(data){
                Highcharts.chart('team-dist-graph', {

                    chart: {
                        type:'bar'
                    },

                    title: {
                        text: '팀비교'
                    },

                    subtitle: {
                        text: null
                    },



                    xAxis: [{
                        reversed: false,

                        categories: ['승리','패배','ERA','FIP','P-ERA','상대-ERA'].reverse(),
                        labels: {
                            step: 1
                        },
                        accessibility: {
                            description: data.away_name
                        },


                    }, {
                        opposite: true,
                        reversed: false,

                        categories: ['승리','패배','ERA','FIP','P-ERA','상대-ERA'].reverse(),

                        linkedTo: 0,
                        labels: {
                            step: 1
                        },
                        accessibility: {
                            description: data.home_name
                        },


                    }],

                    yAxis: {

                        title: {
                        text: null
                        },
                        labels: {
                            formatter: function () {
                                return Math.abs(this.value);
                            }
                        },
                        min: -10,
                        max: 10

                    },


                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },

                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.point.category +': ' + Highcharts.numberFormat(Math.abs(this.point.y), 1) + '</b>';

                        }
                    },
                    series: [{
                        name: data.away_name,
                        data: [-5,-3,-3.5,-4.2,-4.5,-4.3].reverse()
                    },
                    {
                        name: data.home_name,
                        data: [4,4,4.5,6.2,5.5,2.3].reverse()
                    }]
                });
            },
            error:function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    function getSpGraph(set_url){
        $.ajax({
            url: set_url,
            dataType:'json',
            success: function(data){
                Highcharts.chart('sp-dist-graph', {

                    chart: {
                        type:'bar'
                    },

                    title: {
                        text: '선발투수비교'
                    },

                    subtitle: {
                        text: null
                    },



                    xAxis: [{
                        reversed: false,

                        categories: ['득점지원','불펜실점','ERA','FIP','평균이닝','QS비율','선발등판'],
                        labels: {
                            step: 1
                        },
                        accessibility: {
                            description: data.away_name
                        },


                    }, {
                        opposite: true,
                        reversed: false,

                        categories: ['득점지원','불펜실점','ERA','FIP','평균이닝','QS비율','선발등판'],

                        linkedTo: 0,
                        labels: {
                            step: 1
                        },
                        accessibility: {
                            description: data.home_name
                        },


                    }],

                    yAxis: {

                        title: {
                        text: null
                        },
                        labels: {
                            formatter: function () {
                                return Math.abs(this.value);
                            }
                        },
                        min: -10,
                        max: 10

                    },


                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },

                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.point.category +': ' + Highcharts.numberFormat(Math.abs(this.point.y), 1) + '</b>';

                        }
                    },
                    series: [{
                        name: data.away_dic.name,
                        data: [-data.away_dic.run,-data.away_dic.rp,-data.away_dic.era,-data.away_dic.fip,-data.away_dic.inn,-data.away_dic.qs,-data.away_dic.count]
                    },
                    {
                        name: data.home_dic.name,
                        data: [data.home_dic.run,data.home_dic.rp,data.home_dic.era,data.home_dic.fip,data.home_dic.inn,data.home_dic.qs,data.home_dic.count]
                    }]
                });
            },
            error:function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }
    function getRpGraphAway(set_url){
        $.ajax({
            url: set_url,
            dataType:'json',
            success: function(data){
                Highcharts.chart('rp-graph-away', {
                    chart: {
                        width: 600,
                        height: 400
                    },

                    title: {
                        text: '  최근실점추이 - ' + data.away_name
                    },

                    subtitle: {
                        text: null
                    },

                    yAxis: {

                        title: {
                            text: 'Mean of FIP'

                        },
                        min: 0,
                        max: 10,
                    },

                    series: [{
                        name: '5-fip',
                        data: data.away_rp_5
                    },
                    {
                        name: '20-fip',
                        data: data.away_rp_20
                    }]
                });
            },
            error:function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    function getRpGraphHome(set_url){
        $.ajax({
            url: set_url,
            dataType:'json',
            success: function(data){
                Highcharts.chart('rp-graph-home', {
                    chart: {
                        width: 600,
                        height: 400
                    },

                    title: {
                        text: '  최근실점추이 - ' + data.home_name
                    },

                    subtitle: {
                        text: null
                    },

                    yAxis: {

                        title: {
                            text: 'Mean of FIP'

                        },
                        min: 0,
                        max: 10,
                    },

                    series: [{
                        name: '5-fip',
                        data: data.home_rp_5
                    },
                    {
                        name: '20-fip',
                        data: data.home_rp_20
                    }]
                });
            },
            error:function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    function getRunGraphAway(set_url){
        $.ajax({
            url: set_url,
            dataType:'json',
            success: function(data){
                Highcharts.chart('run-graph-away', {
                    chart: {
                        width: 600,
                        height: 400
                    },

                    title: {
                        text: '  최근득점추이 - ' + data.away_name
                    },
                
                    subtitle: {
                        text: null
                    },
                    
                    yAxis: {
                        
                        title: {
                            text: 'Mean of Run'
                            
                        },
                        min: 0,
                        max: 10,
                    },
                    
                    series: [{
                        name: '5-games',
                        data: data.away_run_5
                    },
                    {
                        name: '20-games',
                        data: data.away_run_20
                    }]
                });
            },
            error:function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }
    function getRunGraphHome(set_url){
        $.ajax({
            url: set_url,
            dataType:'json',
            success: function(data){
                Highcharts.chart('run-graph-home', {

                    chart: {
                        width: 600,
                        height: 400
                    },

                    title: {
                        text: '  최근득점추이 - ' + data.home_name
                    },
                
                    subtitle: {
                        text: null
                    },
                    
                    yAxis: {
                        
                        title: {
                            text: 'Mean of Run'
                            
                        },
                        min: 0,
                        max: 10,
                    },
                    
                    series: [{
                        name: '5-games',
                        data: data.home_run_5
                    },
                    {
                        name: '20-games',
                        data: data.home_run_20
                    }]
                });
            },
            error:function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }

    function getRunDistGraph(set_url){
        $.ajax({
            url: set_url,
            dataType:'json',
            success: function(data){
                Highcharts.chart('run-dist-graph', {

                    chart: {
                        type:'bar'
                    },

                    title: {
                        text: '득점분포도'
                    },

                    subtitle: {
                        text: null
                    },



                    xAxis: [{
                        reversed: false,

                        categories: ['0-1','2-3','4-5','6-7','8-9','10-11','12-13','14+'],
                        labels: {
                            step: 1
                        },
                        accessibility: {
                            description: data.away_name
                        },


                    }, {
                        opposite: true,
                        reversed: false,

                        categories: ['0-1','2-3','4-5','6-7','8-9','10-11','12-13','14+'],

                        linkedTo: 0,
                        labels: {
                            step: 1
                        },
                        accessibility: {
                            description: data.home_name
                        },


                    }],

                    yAxis: {

                        title: {
                        text: null
                        },
                        labels: {
                            formatter: function () {
                                return Math.abs(this.value) + '%';
                            }
                        },
                        min: -50,
                        max: 50

                    },


                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },

                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + ', run ' + this.point.category + '</b><br/>' +
                                'Population: ' + Highcharts.numberFormat(Math.abs(this.point.y), 1) + '%';
                        }
                    },
                    series: [{
                        name: data.away_name,
                        data: data.away_run_dist
                    },
                    {
                        name: data.home_name,
                        data: data.home_run_dist
                    }]
                });
            },
            error:function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            }
        });
    }


</script>