{% extends "base.html" %}


{% block content %}

<div class= 'container'>
    
    <span class="year-select">
        <h>Year </h><select id="ddlYear">
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022" selected>2022</option>
        </select>
    </span>
      
    

    <div id="team-info-data" ></div>

    
</div>

<script type="text/javascript">





$(document).ready(function() { 
    $.ajax({
            type: "GET",
            url: $("#ddlYear").val(),
            success:function(data){

                $("#team-info-data").html(data)
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);

			
			}
        
		})
    $("#ddlYear").change(function(){
        $.ajax({
            type: "GET",
            url: $("#ddlYear").val(),
            success:function(data){

                $("#team-info-data").html(data)
            },
            error:function(request,status,error){
                alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);

			
			}
        
		})
        
        
        
    });
});
</script>
{% endblock %}
