{% extends 'base.html' %}

{% block content %}




<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner" >
    <div class="carousel-item main-001 active" data-interval=2500 >
      <img src="../static/images/main/baseball_main_001.jpg" class="d-block w-100" alt="main-001" >
    </div>
    <div class="carousel-item main-002" data-interval=2500 >
      <img src="../static/images/main/baseball_main_002.jpg" class="d-block w-100" alt="main-002">
    </div>
    <div class="carousel-item main-003" data-interval=2500 >
      <img src="../static/images/main/baseball_main_003.jpg" class="d-block w-100" alt="main-003">
      
    </div>
  </div>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
  </a>
</div>




{% endblock %}