 <!-- 네비게이션바 -->
<nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="navbar-nav">
        <div class="navbar-collapse" id="navbarNav">
            <li class="nav-item">
                <a class="nav-link mb-0 h3" href="{%url 'main:index'%}" >Home</a>
            <li class="nav-item">
                <a class="nav-link mb-0 h3" href="{%url 'baseball:index' %}" >Baseball</a>
                
            <li class="nav-item">
                <a class="nav-link mb-0" href="{% url 'baseball:team_info' %}" style="padding-right:0">팀정보</a>
            <li class="nav-item">
                <a class="nav-link mb-0" href="{% url 'baseball:game_info' %}" style="padding-right:0">게임정보</a>
                
        </div>
    </ul>
   
</nav>


    